body {
    background:url(../resourses/modelado-tableta.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: top right;
    background-position-x: 85%;
    background-color: #000 ;

}
.logo{
    margin-left: 145px;
    margin-top: 35px;
}
.logo a img{
   width: 44px;
   height: 90px; 
}
.error {
    width: 424px;
    height: 489px;
   margin-top: 25px;
   margin-left: 35px;
   justify-content: flex-start;
}
.redes{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 6rem;
    bottom: 300px;
    cursor: pointer;
}
.chat{
    right: 6rem;
    cursor: pointer;
}
.contact{
    right: 6.1rem;
    cursor: pointer;
}